<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href='../UI/Profile.css'type='text/css' rel="stylesheet" />

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
<img src="../Assets/Images/hair.jpg" alt="profile image" id="pImg" />
                </li>

                <li>
                    ...
                </li>
            </ul>
        </nav>
    </header>

    <main id="root">
<figure>
    <img src="../Assets/Images/hair.jpg" alt="profile avatar" />
    <figcaption></figcaption>
</figure>

<section>
    <p></p>

    <ul>
         
        <li>
            <b>State:</b>   
        </li>
        <li>
            <b>LGA:</b>   
        </li>
        <li>
            <b>Phone:</b>   
        </li>
    </ul>
</section>
    </main>
    <script src="../Function/pMain.js"></script>
</body>
</html>